/* Noemie Baudouin */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

main {
    width: 80vw;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #333;
    margin-bottom: 1em;
}

form {
    /* margin-bottom: 1rem; */
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    height: 2rem;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.guardar {
    width: 100%;
    height: 2em;
    background-color: #198700;
    color: #fff;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editar {
    font-size: 1.4rem;
    width: 100%;
    height: 3rem;
    background-color: #cdffc2;
    color: black;
    padding: 0.5em;
    margin-bottom: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.guardar:hover {
    background-color: #1d9d00;
}

.editar:hover {
    background-color: #91ff78;
}

.row_mod {
    background-color: rgb(255, 227, 176);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

th,
td {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 0;
    text-align: left;
    vertical-align: middle;
}

th {
    background-color: #f0f0f0;
}

td {
    height: 2rem;

    margin: 0;
}

.mensaje {
    color: #f00;
    height: 1rem;
    font-weight: bold;
    margin-bottom: 1em;
}